.cardTask{
    background-color: rgba(189, 252, 210, 0.3) !important;
    text-align: center !important;
}

.taskButton{
    margin-right: 2%;
}

.checkboxInput{
    margin-top: 2% !important;
    margin-left: 2% !important;

}

.selectedCheckbox{
    border: 1px solid blue !important;
    background-color: rgba(0, 174, 255, 0.2) !important;
    text-align: center !important;
}


.editinputTitle, .editinputDescription{
    margin-bottom: 5% !important;
    border-left: solid rgb(238, 255, 0);
    border-right: none;
    border-top: none;
    border-bottom: solid rgb(238, 255, 0);
    width: 90% !important;
}

