.toDoListTitle{
    color: black;
    text-align: center;
}

.allTasks{
    text-align: center;
    height: auto;
    width: auto;
}

.tasksInputAndButton{
    text-align: -webkit-center !important;
}

.inputTaskTitle, .inputTaskDescription, .inputTaskCreated, .newTaskStatus{
    border-left: solid aqua;
    border-right: none;
    border-top: none;
    border-bottom: solid aqua;
    width: 70% !important;
    margin-bottom: 1% !important;
}

.addAndRemowButtons{
    justify-content: flex-end !important;
    padding-right: 15%;
}

.taskButton{
    border-radius: 0% !important;
    color: black !important;
    width: 100% !important;
    border: none !important;
}

.addTaskButton{
    border: solid lime !important;
    background-color: lime !important;
    color: white;
    width: auto;
    margin-right: 1%;
    
}

.cardsRow{
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

.taskCard{
    background-color: aqua !important; 
    float: left;
    margin: 3%;
}



.remoweAllTasks{
    border: solid red !important;
    background-color: red !important;
}